.colorNavBar {
  background-color: #97a11e;
}
/* .card-img,
.card-img-bottom,
.card-img-top {
  width: 50%;
} */
.displayHomePageCard {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 20px;
}

.backgroundHomePage {
  justify-content: center;
  display: flex;
  background-image: url("https://media.istockphoto.com/photos/empty-clay-tennis-court-picture-id821815472?k=20&m=821815472&s=170667a&w=0&h=byVe8B4moKXJkU9J7vbBT0GdLrayvkPCo7X2vPNFAz4=");
}

.displayClubCard {
  display: flex;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 20px;
}

.backgroundClub {
  justify-content: center;
  display: flex;
  background-image: url("https://images.squarespace-cdn.com/content/v1/58fe5ade8419c2c6c8a117ed/1493239687927-PJO0ERM8531GRULQ1N8C/ball_blue_court-718x274.jpg?format=2500w");
}

/* .try {
  background-image: url("https://images.squarespace-cdn.com/content/v1/58fe5ade8419c2c6c8a117ed/1493239687927-PJO0ERM8531GRULQ1N8C/ball_blue_court-718x274.jpg?format=2500w");
} */
